@import "../../utils/mixins.scss";
.shipping-address-input-box {
  @include inputBox(592px);
}

.postal-code-input-box {
  @include inputBox(156px);
}

.shipping-section {
  padding-bottom: 30px;
}

.dropdowns {
  padding-top: 46px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.address-input-box {
  padding-top: 16px;
  padding-bottom: 16px;
}

select {
  padding: 15px 0px 1px 6px;
  width: 202px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #c9c9c9;
  font-size: 13px;
  font-weight: 300;
}

span.dropdown-title {
  height: 16px;

  font-weight: 400;
  font-style: normal;
  display: block;
  margin-top: -45px;

  margin-left: 10px;

  font-size: 11px;
  color: #828282;
}
