.complete-order-button {
    position: absolute;
    width: 298px;
    height: 48px;
    margin-top: 31px;
    background-color: #009900;
    box-shadow: 0px 4px 10px rgba(67, 40, 16, 0.24);
    border-radius: 3px;
  
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  