@import "../utils/mixins.scss";


  .contact-info-heading {
    padding-bottom: 20px;
  }

  .customer-info {
    @include inputBox(298px);
  
  }

  .customer-info-input-boxes {
    padding-top: 16px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 66px;
  }

